#section-left {
  padding-left: 30px;
  font-size: 30px;
  color: #1a2626;
}

#section3-project {
  width: 100%;
  display: flex;
  gap: 10%;
  border: red 2px solid;
  justify-content: space-between;
}

#section3-right {
  border: 2px solid black;
  margin-right: 0;
}

#desktop7 {
  height: 300px;
}

#project-list {
  height: 600px;
  background-color: #1a2626;
  color: #fff;
}

#project-list2 {
  width: 50rem;
  height: 300px;
  background-color: #1a2626;
  color: #fff;
  margin-right: 0%;
}

#desktop5 {
  margin-top: 90px;
  width: 450px;
  margin-right: 0%;
}

#footer-text-color {
  color: white;
  height: 70px;
}

#img-cv {
  height: 20px;
  margin: 5px;
}

#img-social {
  margin: 1px;
}

#language {
  padding: 0;
  box-sizing: border-box;
  margin: 8px 2%;
  position: relative;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  background-image: url(./images/hash1.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #1c528a;
  width: 100%;
  height: 299px;
}

#framework {
  padding: 0;
  box-sizing: border-box;
  margin: 8px 2%;
  border-radius: 4px;
  color: #f2f2f2;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #e2505c;
  width: 100%;
  height: 299px;
}

#skilss {
  padding: 0;
  box-sizing: border-box;
  margin: 8px 2%;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  background-image: url(./images/ic_skills.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #febf52;
  width: 100%;
  height: 289px;
  margin-top: -10px;
}

